<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ user.username }}</h1>
        <img src="{{ user.profile_image_url }}" alt="Profile Image">
        <p>Email: {{ user.email }}</p>
        <p>Description: {{ user.description }}</p>
        <p>View Count: {{ user.view_count }}</p>
        <p>Account Created: {{ user.created_at }}</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Выйти</a>
    </div>
</body>
</html>
